<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blcultra.dao.PatentInfoMapper" >
  <resultMap id="BaseResultMap" type="com.blcultra.model.PatentInfo" >
    <id column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="appid" property="appid" jdbcType="VARCHAR" />
    <result column="docid" property="docid" jdbcType="VARCHAR" />
    <result column="adate" property="adate" jdbcType="VARCHAR" />
    <result column="pdate" property="pdate" jdbcType="VARCHAR" />
    <result column="prdate" property="prdate" jdbcType="VARCHAR" />
    <result column="applicant" property="applicant" jdbcType="VARCHAR" />
    <result column="uploader" property="uploader" jdbcType="VARCHAR" />
    <result column="pstate" property="pstate" jdbcType="VARCHAR" />
    <result column="uploadpath" property="uploadpath" jdbcType="VARCHAR" />
    <result column="isdelete" property="isdelete" jdbcType="VARCHAR" />
    <result column="uploadtime" property="uploadtime" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.blcultra.model.PatentInfoWithBLOBs" extends="BaseResultMap" >
    <result column="abs" property="abs" jdbcType="LONGVARCHAR" />
    <result column="claims" property="claims" jdbcType="LONGVARCHAR" />
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pid, title, category, appid, docid, adate, pdate, prdate, applicant, uploader, pstate, 
    uploadpath, isdelete, uploadtime
  </sql>
  <sql id="Blob_Column_List" >
    abs, claims, description
  </sql>

  <select id="browse" parameterType="java.lang.String" resultType="map">
    SELECT pid ,title,abs, claims, description
    FROM  patent_info
    WHERE pid = #{pid,jdbcType=VARCHAR}
  </select>

  <insert id="batchInsertPatents" parameterType="java.util.List">
    insert into patent_info
    (pid, title, category, appid, docid, adate, pdate, prdate, applicant, uploader, pstate,
    uploadpath, isdelete, uploadtime,abs, claims)
    values
    <foreach collection ="list" item="item" index= "index" separator =",">
      (
        #{item.pid,jdbcType=VARCHAR},
        #{item.title,jdbcType=VARCHAR},
        #{item.category,jdbcType=VARCHAR},
        #{item.appid,jdbcType=VARCHAR},
        #{item.docid,jdbcType=VARCHAR},
        #{item.adate,jdbcType=VARCHAR},
        #{item.pdate,jdbcType=VARCHAR},
        #{item.prdate,jdbcType=VARCHAR},
        #{item.applicant,jdbcType=VARCHAR},
        #{item.uploader,jdbcType=VARCHAR},
        #{item.pstate,jdbcType=VARCHAR},
        #{item.uploadpath,jdbcType=VARCHAR},
        #{item.isdelete,jdbcType=VARCHAR},
        #{item.uploadtime,jdbcType=VARCHAR},
        #{item.abs,jdbcType=LONGVARCHAR},
        #{item.claims,jdbcType=LONGVARCHAR},

      )
    </foreach>
  </insert>


  <select id="likeSearchPatents" parameterType="map" resultType="map">
    SELECT  pio.pid,pio.appid,pio.adate,pio.applicant,pio.pstate
    FROM patent_info pio
    WHERE pio.uploader = #{uploader,jdbcType=VARCHAR}
    <if test="pstate != null">
      AND  pstate = #{pstate,jdbcType=VARCHAR}
    </if>
    <if test="keyword != null and keyword != ''">
      AND (
      pio.appid like concat("%",concat(#{keyword},"%")) or
      pio.applicant like concat("%",concat(#{keyword},"%")) or
      pio.adate like concat("%",concat(#{keyword},"%"))
      )
    </if>
    ORDER BY uploadtime DESC
    <if test="queryStart != null and pageSize != null and pageSize !=0">
      limit #{queryStart}, #{pageSize}
    </if>

  </select>

  <select id="getPList" parameterType="map" resultType="map">
    SELECT pid, title, category AS ipc ,appid, adate, applicant, uploader, pstate
    FROM patent_info
    WHERE isdelete = '1'
    <if test="uploader != null">
      AND  uploader = #{uploader,jdbcType=VARCHAR}
    </if>
    <if test="pstate != null">
      AND  pstate = #{pstate,jdbcType=VARCHAR}
    </if>
    ORDER BY uploadtime DESC
    <if test="queryStart != null and pageSize != null and pageSize !=0">
      limit #{queryStart}, #{pageSize}
    </if>

  </select>


  <select id="getPatentList" parameterType="map" resultType="map">
    SELECT pid, title, category AS  ipc ,appid, adate, applicant, uploader, pstate
    FROM patent_info
    WHERE isdelete = '1'
    <if test="uploader != null">
      AND  uploader = #{uploader,jdbcType=VARCHAR}
    </if>
    <if test="pstate != null">
      AND  pstate = #{pstate,jdbcType=VARCHAR}
    </if>
    ORDER BY uploadtime DESC
    <if test="queryStart != null and pageSize != null and pageSize !=0">
      limit #{queryStart}, #{pageSize}
    </if>
  </select>

  <update id="batchUpdate" parameterType="map">
    UPDATE patent_info SET
    isdelete ='0'
    WHERE uploader = #{uploader,jdbcType=VARCHAR}
    AND pid IN
    <foreach collection="list"  item="item" open="("
             separator="," close=")">
      <if test="item!=null and item !=''">
        #{item}
      </if>
    </foreach>
  </update>

  <select id="count" parameterType="map" resultType="int">
    SELECT  count(1)
    FROM patent_info
    WHERE  isdelete = '1'
    <if test="pstate != null">
      AND  pstate = #{pstate,jdbcType=VARCHAR}
    </if>
    <if test="uploader != null">
      AND  uploader = #{uploader,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="countChecked" resultType="int">
    SELECT  count(1)
    FROM patent_info
    WHERE pstate = 1
    AND  isdelete = '1'
    <if test="uploader != null">
      AND  uploader = #{uploader,jdbcType=VARCHAR}
    </if>
  </select>


  <select id="countUnchecked" resultType="int">
    SELECT  count(1)
    FROM patent_info
    WHERE pstate = 0
    AND  isdelete = '1'
    <if test="uploader != null">
      AND  uploader = #{uploader,jdbcType=VARCHAR}
    </if>
  </select>









  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from patent_info
    where pid = #{pid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from patent_info
    where pid = #{pid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.blcultra.model.PatentInfoWithBLOBs" >
    insert into patent_info (pid, title, category, 
      appid, docid, adate, 
      pdate, prdate, applicant, 
      uploader, pstate, uploadpath, 
      isdelete, uploadtime, abs, 
      claims, description)
    values (#{pid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, 
      #{appid,jdbcType=VARCHAR}, #{docid,jdbcType=VARCHAR}, #{adate,jdbcType=VARCHAR}, 
      #{pdate,jdbcType=VARCHAR}, #{prdate,jdbcType=VARCHAR}, #{applicant,jdbcType=VARCHAR}, 
      #{uploader,jdbcType=VARCHAR}, #{pstate,jdbcType=VARCHAR}, #{uploadpath,jdbcType=VARCHAR}, 
      #{isdelete,jdbcType=VARCHAR}, #{uploadtime,jdbcType=VARCHAR}, #{abs,jdbcType=LONGVARCHAR}, 
      #{claims,jdbcType=LONGVARCHAR}, #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.blcultra.model.PatentInfoWithBLOBs" >
    insert into patent_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="appid != null" >
        appid,
      </if>
      <if test="docid != null" >
        docid,
      </if>
      <if test="adate != null" >
        adate,
      </if>
      <if test="pdate != null" >
        pdate,
      </if>
      <if test="prdate != null" >
        prdate,
      </if>
      <if test="applicant != null" >
        applicant,
      </if>
      <if test="uploader != null" >
        uploader,
      </if>
      <if test="pstate != null" >
        pstate,
      </if>
      <if test="uploadpath != null" >
        uploadpath,
      </if>
      <if test="isdelete != null" >
        isdelete,
      </if>
      <if test="uploadtime != null" >
        uploadtime,
      </if>
      <if test="abs != null" >
        abs,
      </if>
      <if test="claims != null" >
        claims,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="docid != null" >
        #{docid,jdbcType=VARCHAR},
      </if>
      <if test="adate != null" >
        #{adate,jdbcType=VARCHAR},
      </if>
      <if test="pdate != null" >
        #{pdate,jdbcType=VARCHAR},
      </if>
      <if test="prdate != null" >
        #{prdate,jdbcType=VARCHAR},
      </if>
      <if test="applicant != null" >
        #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="uploader != null" >
        #{uploader,jdbcType=VARCHAR},
      </if>
      <if test="pstate != null" >
        #{pstate,jdbcType=VARCHAR},
      </if>
      <if test="uploadpath != null" >
        #{uploadpath,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null" >
        #{uploadtime,jdbcType=VARCHAR},
      </if>
      <if test="abs != null" >
        #{abs,jdbcType=LONGVARCHAR},
      </if>
      <if test="claims != null" >
        #{claims,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blcultra.model.PatentInfoWithBLOBs" >
    update patent_info
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="appid != null" >
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="docid != null" >
        docid = #{docid,jdbcType=VARCHAR},
      </if>
      <if test="adate != null" >
        adate = #{adate,jdbcType=VARCHAR},
      </if>
      <if test="pdate != null" >
        pdate = #{pdate,jdbcType=VARCHAR},
      </if>
      <if test="prdate != null" >
        prdate = #{prdate,jdbcType=VARCHAR},
      </if>
      <if test="applicant != null" >
        applicant = #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="uploader != null" >
        uploader = #{uploader,jdbcType=VARCHAR},
      </if>
      <if test="pstate != null" >
        pstate = #{pstate,jdbcType=VARCHAR},
      </if>
      <if test="uploadpath != null" >
        uploadpath = #{uploadpath,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null" >
        uploadtime = #{uploadtime,jdbcType=VARCHAR},
      </if>
      <if test="abs != null" >
        abs = #{abs,jdbcType=LONGVARCHAR},
      </if>
      <if test="claims != null" >
        claims = #{claims,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.blcultra.model.PatentInfoWithBLOBs" >
    update patent_info
    set title = #{title,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      appid = #{appid,jdbcType=VARCHAR},
      docid = #{docid,jdbcType=VARCHAR},
      adate = #{adate,jdbcType=VARCHAR},
      pdate = #{pdate,jdbcType=VARCHAR},
      prdate = #{prdate,jdbcType=VARCHAR},
      applicant = #{applicant,jdbcType=VARCHAR},
      uploader = #{uploader,jdbcType=VARCHAR},
      pstate = #{pstate,jdbcType=VARCHAR},
      uploadpath = #{uploadpath,jdbcType=VARCHAR},
      isdelete = #{isdelete,jdbcType=VARCHAR},
      uploadtime = #{uploadtime,jdbcType=VARCHAR},
      abs = #{abs,jdbcType=LONGVARCHAR},
      claims = #{claims,jdbcType=LONGVARCHAR},
      description = #{description,jdbcType=LONGVARCHAR}
    where pid = #{pid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blcultra.model.PatentInfo" >
    update patent_info
    set title = #{title,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      appid = #{appid,jdbcType=VARCHAR},
      docid = #{docid,jdbcType=VARCHAR},
      adate = #{adate,jdbcType=VARCHAR},
      pdate = #{pdate,jdbcType=VARCHAR},
      prdate = #{prdate,jdbcType=VARCHAR},
      applicant = #{applicant,jdbcType=VARCHAR},
      uploader = #{uploader,jdbcType=VARCHAR},
      pstate = #{pstate,jdbcType=VARCHAR},
      uploadpath = #{uploadpath,jdbcType=VARCHAR},
      isdelete = #{isdelete,jdbcType=VARCHAR},
      uploadtime = #{uploadtime,jdbcType=VARCHAR}
    where pid = #{pid,jdbcType=VARCHAR}
  </update>
</mapper>