<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blcultra.dao.PatentSearchHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.blcultra.model.PatentSearchHistory" >
    <id column="phisid" property="phisid" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="searchparam" property="searchparam" jdbcType="VARCHAR" />
    <result column="searchtime" property="searchtime" jdbcType="VARCHAR" />
    <result column="searcher" property="searcher" jdbcType="VARCHAR" />
    <result column="pdocnum" property="pdocnum" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    phisid, pid, searchparam, searchtime, searcher, pdocnum, updatetime
  </sql>

  <update id="updateRecord" parameterType="map">
    update patent_search_history
    <set >
      <if test="pdocnum != null" >
        pdocnum = #{pdocnum,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=VARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=VARCHAR}
    AND pdocnum='0'
  </update>

  <select id="getHsitoryList" parameterType="map" resultType="map">
    SELECT phisid, pid, searchparam, searchtime, pdocnum
    FROM  patent_search_history
    WHERE  pid = #{pid,jdbcType=VARCHAR}
    AND  searcher =  #{searcher,jdbcType=VARCHAR}
    AND  pdocnum = #{pdocnum,jdbcType=VARCHAR}
    ORDER BY searchtime ASC
  </select>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from patent_search_history
    where phisid = #{phisid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from patent_search_history
    where phisid = #{phisid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.blcultra.model.PatentSearchHistory" >
    insert into patent_search_history (phisid, pid, searchparam, 
      searchtime, searcher, pdocnum, 
      updatetime)
    values (#{phisid,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, #{searchparam,jdbcType=VARCHAR}, 
      #{searchtime,jdbcType=VARCHAR}, #{searcher,jdbcType=VARCHAR}, #{pdocnum,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.blcultra.model.PatentSearchHistory" >
    insert into patent_search_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="phisid != null" >
        phisid,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="searchparam != null" >
        searchparam,
      </if>
      <if test="searchtime != null" >
        searchtime,
      </if>
      <if test="searcher != null" >
        searcher,
      </if>
      <if test="pdocnum != null" >
        pdocnum,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="phisid != null" >
        #{phisid,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="searchparam != null" >
        #{searchparam,jdbcType=VARCHAR},
      </if>
      <if test="searchtime != null" >
        #{searchtime,jdbcType=VARCHAR},
      </if>
      <if test="searcher != null" >
        #{searcher,jdbcType=VARCHAR},
      </if>
      <if test="pdocnum != null" >
        #{pdocnum,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blcultra.model.PatentSearchHistory" >
    update patent_search_history
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="searchparam != null" >
        searchparam = #{searchparam,jdbcType=VARCHAR},
      </if>
      <if test="searchtime != null" >
        searchtime = #{searchtime,jdbcType=VARCHAR},
      </if>
      <if test="searcher != null" >
        searcher = #{searcher,jdbcType=VARCHAR},
      </if>
      <if test="pdocnum != null" >
        pdocnum = #{pdocnum,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=VARCHAR},
      </if>
    </set>
    where phisid = #{phisid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blcultra.model.PatentSearchHistory" >
    update patent_search_history
    set pid = #{pid,jdbcType=VARCHAR},
      searchparam = #{searchparam,jdbcType=VARCHAR},
      searchtime = #{searchtime,jdbcType=VARCHAR},
      searcher = #{searcher,jdbcType=VARCHAR},
      pdocnum = #{pdocnum,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=VARCHAR}
    where phisid = #{phisid,jdbcType=VARCHAR}
  </update>
</mapper>