<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blcultra.dao.PatentCollectInfoMapper" >
  <resultMap id="BaseResultMap" type="com.blcultra.model.PatentCollectInfo" >
    <id column="collectid" property="collectid" jdbcType="VARCHAR" />
    <result column="ptype" property="ptype" jdbcType="VARCHAR" />
    <result column="pdocnum" property="pdocnum" jdbcType="VARCHAR" />
    <result column="pdate" property="pdate" jdbcType="VARCHAR" />
    <result column="pipc" property="pipc" jdbcType="VARCHAR" />
    <result column="prate" property="prate" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="collector" property="collector" jdbcType="VARCHAR" />
    <result column="ptermwords" property="ptermwords" jdbcType="VARCHAR" />
    <result column="collectstate" property="collectstate" jdbcType="VARCHAR" />
    <result column="collecttime" property="collecttime" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    collectid, ptype, pdocnum, pdate, pipc, prate, pid, collector, ptermwords, collectstate, 
    collecttime, updatetime
  </sql>


  <select id="selectCollectInfos" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from patent_collect_info
    where pid =#{pid,jdbcType=VARCHAR}
    AND  collector =#{collector,jdbcType=VARCHAR}
  </select>
  <select id="selectCollect" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from patent_collect_info
    where pdocnum =#{pdocnum,jdbcType=VARCHAR}
    AND pid =#{pid,jdbcType=VARCHAR}
    AND  collector =#{collector,jdbcType=VARCHAR}
  </select>
  <select id="getCollectInfo" parameterType="map" resultType="map">
    select collecttime
    from patent_collect_info
    where pdocnum =#{pdocnum,jdbcType=VARCHAR}
    AND  collector =#{collector,jdbcType=VARCHAR}
    AND  pid =#{pid,jdbcType=VARCHAR}
  </select>



  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from patent_collect_info
    where collectid = #{collectid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from patent_collect_info
    where collectid = #{collectid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.blcultra.model.PatentCollectInfo" >
    insert into patent_collect_info (collectid, ptype, pdocnum, 
      pdate, pipc, prate, 
      pid, collector, ptermwords, 
      collectstate, collecttime, updatetime
      )
    values (#{collectid,jdbcType=VARCHAR}, #{ptype,jdbcType=VARCHAR}, #{pdocnum,jdbcType=VARCHAR}, 
      #{pdate,jdbcType=VARCHAR}, #{pipc,jdbcType=VARCHAR}, #{prate,jdbcType=VARCHAR}, 
      #{pid,jdbcType=VARCHAR}, #{collector,jdbcType=VARCHAR}, #{ptermwords,jdbcType=VARCHAR}, 
      #{collectstate,jdbcType=VARCHAR}, #{collecttime,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.blcultra.model.PatentCollectInfo" >
    insert into patent_collect_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="collectid != null" >
        collectid,
      </if>
      <if test="ptype != null" >
        ptype,
      </if>
      <if test="pdocnum != null" >
        pdocnum,
      </if>
      <if test="pdate != null" >
        pdate,
      </if>
      <if test="pipc != null" >
        pipc,
      </if>
      <if test="prate != null" >
        prate,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="collector != null" >
        collector,
      </if>
      <if test="ptermwords != null" >
        ptermwords,
      </if>
      <if test="collectstate != null" >
        collectstate,
      </if>
      <if test="collecttime != null" >
        collecttime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="collectid != null" >
        #{collectid,jdbcType=VARCHAR},
      </if>
      <if test="ptype != null" >
        #{ptype,jdbcType=VARCHAR},
      </if>
      <if test="pdocnum != null" >
        #{pdocnum,jdbcType=VARCHAR},
      </if>
      <if test="pdate != null" >
        #{pdate,jdbcType=VARCHAR},
      </if>
      <if test="pipc != null" >
        #{pipc,jdbcType=VARCHAR},
      </if>
      <if test="prate != null" >
        #{prate,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="collector != null" >
        #{collector,jdbcType=VARCHAR},
      </if>
      <if test="ptermwords != null" >
        #{ptermwords,jdbcType=VARCHAR},
      </if>
      <if test="collectstate != null" >
        #{collectstate,jdbcType=VARCHAR},
      </if>
      <if test="collecttime != null" >
        #{collecttime,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blcultra.model.PatentCollectInfo" >
    update patent_collect_info
    <set >
      <if test="ptype != null" >
        ptype = #{ptype,jdbcType=VARCHAR},
      </if>
      <if test="pdocnum != null" >
        pdocnum = #{pdocnum,jdbcType=VARCHAR},
      </if>
      <if test="pdate != null" >
        pdate = #{pdate,jdbcType=VARCHAR},
      </if>
      <if test="pipc != null" >
        pipc = #{pipc,jdbcType=VARCHAR},
      </if>
      <if test="prate != null" >
        prate = #{prate,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="collector != null" >
        collector = #{collector,jdbcType=VARCHAR},
      </if>
      <if test="ptermwords != null" >
        ptermwords = #{ptermwords,jdbcType=VARCHAR},
      </if>
      <if test="collectstate != null" >
        collectstate = #{collectstate,jdbcType=VARCHAR},
      </if>
      <if test="collecttime != null" >
        collecttime = #{collecttime,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=VARCHAR},
      </if>
    </set>
    where collectid = #{collectid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blcultra.model.PatentCollectInfo" >
    update patent_collect_info
    set ptype = #{ptype,jdbcType=VARCHAR},
      pdocnum = #{pdocnum,jdbcType=VARCHAR},
      pdate = #{pdate,jdbcType=VARCHAR},
      pipc = #{pipc,jdbcType=VARCHAR},
      prate = #{prate,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=VARCHAR},
      collector = #{collector,jdbcType=VARCHAR},
      ptermwords = #{ptermwords,jdbcType=VARCHAR},
      collectstate = #{collectstate,jdbcType=VARCHAR},
      collecttime = #{collecttime,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=VARCHAR}
    where collectid = #{collectid,jdbcType=VARCHAR}
  </update>
</mapper>